%article#home.panel.special
  .image
    %img{:alt => "", "data-position" => "center center", :src => "/images/pic01.jpg"}/
  .content
    .inner
      %header
        %h1
          Jodie Jones
        %p
          = I18n.t(:strapline1)
          %br/
          = I18n.t(:strapline2)
      %nav#nav
        %ul.actions.vertical.special.spinY
          %li
            %a.button{:href => "#work"}
              = I18n.t(:work_button)
          %li
            %a.button{:href => "#about"}
              = I18n.t(:about_button)
          %li
            %a.button{:href => "#contact"}
              = I18n.t(:contact_button)
      %ul.icons.languages
        %li
          %a.icon{:href => "/fr"}
            %span.flag-icon.flag-icon-fr
        %li
          %a.icon{:href => "/"}
            %span.flag-icon.flag-icon-gb
        %li
          %a.icon{:href => "/de"}
            %span.flag-icon.flag-icon-de
        %li
          %a.icon{:href => "/es"}
            %span.flag-icon.flag-icon-es
