%article#work.panel.secondary
  .image
    %img{:alt => "", "data-position" => "center center", :src => "images/pic02.jpg"}/
  .content
    %ul.actions.spinX
      %li
        %a.button.small.back{:href => "#home"}
          = t(:back_button)
    .inner
      %header
        %h2
          = t(:work_title)
        %p
          = t(:work_subtitle)

      %p
        = t(:work_paragraph1)
      %p
        = t(:work_paragraph2)
