/ Wrapper
#wrapper
  / Home
  = partial "partials/home"

  / Work
  = partial "partials/work"

  / About
  = partial "partials/about"

  / Contact
  = partial "partials/contact"

  / Footer
  = partial "partials/footer"

/ Scripts
= partial "partials/scripts"
